h1 {
    color: black;
}

#loginHeader {
    height: 20vh;
}

#welcome {
    width: 100%;
    text-align: center;
    height: 80vh;
    background-image: linear-gradient(#000046, #1cb5e0);
    background-image: linear-gradient(#4286f4, #373b44);
    padding: 0px;
    padding-top: 140px; 
}

.welcome-heading {
    margin-top: 0px;
}
.hat-icon{
    height: 100px;
}
.welcome-heading-text {
    font-family: 'Prompt', sans-serif;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 110px;
    line-height: 90px;
    color: white;
    margin-top: 0px;
}


/* need to add media query */
/* @ media screen {
    #loginHeader {
        height: 100vh;
    }

    #welcome {
        display: none;
    }
} */

.login {
    width: 600px;
    margin-left: 100px;
    margin-right: 100px;
    height: auto;
}

.inlineForm {
    width: auto;
    margin: 50px 30px 30px 30px;
}

@media screen and (max-width: 1200px) {
    #loginHeader {
        height: 80vh;
    }
    #welcome {
        height: 20vh;
    }
    .welcome-heading {
        display: none;
    }
    .inlineForm {
      margin: 50px 60px 30px 60px;
    }
    .email-container {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .login-container {
        margin-top: 20px;
    }
    .signupContainer {
        margin-top: 40px;
    }
    
    
    
  }


.container{
    min-height: 800px;
    width: 100%;
}

.row-main {
    min-height: 800px;
}

.section-profile {
    background-color: #d62727;
    background-image: linear-gradient(#4286f4, #373b44);
}

.section-feed {
    background-color: #51555C;
    padding: 20px 30px 10px 30px;
    border-right: 3px solid #7F818F;
    border-left: 3px solid #7F818F;

}

.section-follow {
    background-color: #51555C;
    padding-top: 30px;
}

.card {
    border-radius: 20px;
    box-shadow: 2px 2px lightsteelblue;
    background-color: #ecf0f1;
    padding-right: 35px;
}

@media screen and (max-width: 1100px) {
    .card {
      background-color: lightgreen;
      padding: 10px 30px 10px 30px;
    }
    
    .metrics {
        margin-left: 70px;
        margin-right: 70px;
    }

  }

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.wrapper-profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.profilePicContainer {
    margin: 30px 20px 10px 20px;
    text-align: center;
}

.profilePic {
    background-color: slategray;
    margin: 30px 20px 10px 20px;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: inline-block;
}

.username {
    margin: 10px 20px 10px 20px;
}



.metrics {
    /* min-height: 100px; */
    margin: 20px 20px 10px 20px;
    min-height: 80px;
    line-height: 20px;
    padding: 20px;
    background-color: #ecf0f1;
    box-shadow: 1px 1px lightsteelblue;
    border-radius: 20px;
}

.metrics-following {
    /* min-height: 60px; */
    /* line-height: 60px; */
    font-size: 16px;
}
.metrics-followers {
    /* min-height: 60px; */
    /* line-height: 60px; */
    font-size: 16px;
}

.metrics-hattsSent {
    /* min-height: 60px; */
    /* line-height: 60px; */
    font-size: 16px;
}

.row-profile-buttons {
    padding: 1px;
    margin: 1px;
}

.viewHatts {
    margin: 10px 1px 10px 1px;
    text-align: center;
}

.logout {
    margin: 10px 1px 10px 1px;
    text-align: center;
}

.createPost {
    margin: 30px 50px 10px 50px;
    text-align: center;
    padding: 20px;
}

.card-post {
    margin: 20px 10px 5px 10px;
    min-height: 200px;
}

.card-body {
    padding-top: 20px;
}


.postPic {
    background-color: slategray;
    margin: 0px 0px 0px 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
}

.titleContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-title {
    margin-right: 30px;
}

.timeSince {
    padding-top: 3px;
}

.row-post {
    margin-top: 20px;
    min-height: 30px;
}

.row-content {
    margin-bottom: 18px;
}

.row-metrics {
    margin-bottom: 18px;
}

.commentsContainer {
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.hattsOffContainer {
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.image {
    margin-right: 5px;
    height: 30px;
}

.counter {
    margin-right: 20px;
    height: 30px;
    line-height: 30px;
}

.row-follow-main {
    width: auto;
}

.followAccount {
    margin-right: 10px;
}
.card-follow {
    margin: 5px 10px 0px 10px; 
}

.followPic {
    background-color: slategray;
    margin: 0px 0px 0px 2px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
}




 