h1 {
    color: black;
}


.welcome {
    width: 100%;
    text-align: center;
    height: 100px;
}

.login {
    width: 600px;
    margin-left: 100px;
    margin-right: 100px;
    height: auto;
}

.header {
    width: 100%;
    height: 100px;
    background-color: cadetblue;
}



.container{
    min-height: 800px;
    width: 100%;
}

.row-main {
    height: 800px;
}



.section-profile {
    background-color: cornflowerblue;
}

.section-feed {
    background-color: royalblue;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.wrapper-profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.profilePicContainer {
    margin: 30px 20px 10px 20px;
    text-align: center;
}

.profilePic {
    background-color: slategray;
    margin: 30px 20px 10px 20px;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: inline-block;
}

.username {
    margin: 10px 20px 10px 20px;
}

.metrics {
    /* min-height: 100px; */
    margin: 10px 20px 10px 20px;
    padding: 2px;
}

.metrics-following {
    /* min-height: 60px; */
    /* line-height: 60px; */
    font-size: 24px;
}

.metrics-hattsSent {
    /* min-height: 60px; */
    /* line-height: 60px; */
    font-size: 24px;

}

.viewHatts {
    margin: 10px 20px 5px 20px;
}

.logout {
    margin: 5px 20px 10px 20px;
}

.createPost {
    margin: 30px 20px 10px 20px;
}

.card-post {
    margin: 20px 10px 5px 10px;
    min-height: 200px;
}

.postPic {
    background-color: slategray;
    margin: 0px 0px 0px 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
}

.card-follow {
    margin: 5px 10px 0px 10px; 
}


.followPic {
    background-color: slategray;
    margin: 0px 0px 0px 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
}

.section-follow {
    background-color: cornflowerblue;
}


 